
@{
    ViewBag.Title = "DisplayQuestions";
}

<h2>DisplayQuestions</h2>

<!--Using form 
    Call action
    that will compare all the right options of the questions submitted with the right options in the db    
    -->
